

# RStudio files
.Rproj.user/
R/sapflow-Rs.html

# Session data files
.RData

# History files
.Rhistory
*.xml
.Rproj.user

*.html
html/*.png
html-figures/

# OS crap
.DS_Store
R/sapflow-Rs.html
R/sapflow-Rs_cache/html/__packages
